@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  padding: 0 5%;
  width: 90vw;
  background-color: white;
}

nav ul {
  flex: 100 auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

nav li {
  list-style: none;
}

a,
h1 {
  text-decoration: none;
  font-family: Montserrat, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  color: black;
  padding: 1rem;
}

a:hover {
  color: deepskyblue;
}

h2 {
  font-family: Montserrat, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  color: blue;
  padding: 1rem;
  margin: 0;
}

main {
  margin: 0 6%;
}

#home,
#projects {
  padding: 64px 0 0 0;
}

#home {
  height: 80vh;
}

.project-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  border: 2px solid red;
  margin: 1.5rem 0;
}

.project-img-cont {
  display: flex;
  width: 50%;
}

.project-text-cont {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.project-text-cont ul {
  text-align: left;
}

.project-text-cont li {
  list-style: square;
}

.project-img-cont img {
  width: 20rem;
}
