@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

$primary-color: deepskyblue;
$secondary-color: blue;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  width: 90vw;
}

nav,
footer {
  display: flex;
  padding: 0 5%;
  li {
    list-style: none;
  }
}

footer {
  justify-content: space-between;
  background: $primary-color;

  .credit p {
    margin: 0;
  }
}

h1,
h2,
a {
  font-family: Montserrat, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: $primary-color;
}

h2 {
  color: $secondary-color;
  margin: 0;
  padding: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  padding: 1rem;
}

p {
  margin: 0 0 1rem 0;
}

ul {
  flex: 100 auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

p,
li {
  line-height: 150%;
  letter-spacing: 0.09rem;
}

#home,
#projects {
  padding: 64px 0 0 0;
}

.project-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 4rem 0;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("");
  background-size: cover;
}

.project-text-cont {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.35) 5px 10px 15px;

  h1,
  a {
    color: white;
  }

  a {
    padding: 1rem 0 0;
  }

  a img {
    vertical-align: middle;
  }

  ul {
    text-align: left;
    margin: auto;
  }

  li {
    list-style: square;
    color: white;
  }
}

a:hover {
  color: $primary-color;
}

.project-img-cont {
  display: flex;
  justify-content: center;
  width: 50%;

  img {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .project-display {
    flex-direction: column;
    margin: 0 0 4rem 0;
    height: auto;

    &:nth-child(even) {
      flex-direction: column;
    }
  }

  .project-text-cont {
    margin: 2rem 0 0;
    width: 70%;
  }
}
