@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  color: variables.$text-color;
}

nav {
  position: sticky;
  top: 0;
}

nav,
footer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: variables.$primary-color;

  ul {
    flex: 100 auto;
    display: flex;
    justify-content: right;
  }

  li {
    list-style: none;
  }

  a {
    color: variables.$text-color;
  }

  a:hover {
    color: variables.$secondary-color;
    font-weight: bold;
    transition: all 600ms;
  }
}

footer {
  justify-content: space-between;

  .credit {
    padding: 1rem;
  }

  .credit p {
    margin: 0;
  }
}

#home,
#projects {
  padding: 64px 0 0 0;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* --- Basic text related tags --- */
h1,
h2,
a {
  font-family: Montserrat, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: variables.$primary-color;
}

h2 {
  color: variables.$secondary-color;
  margin: 0;
  padding: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;

  img {
    vertical-align: bottom;
  }
}

p {
  margin: 0 0 1rem 0;
}

p,
li {
  line-height: 150%;
  letter-spacing: 0.09rem;
}

@media (max-width: 768px) {
  .project-display {
    flex-direction: column;
    margin: 0 0 4rem 0;
    height: auto;

    &:nth-child(even) {
      flex-direction: column;
    }
  }

  .project-text-cont {
    margin: 2rem 0 0;
    width: 70%;
  }
}
